{% extends "base.html" %}
{% load static %}
{% block title %}Home :: Photo Gallery{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="row text-center">
        <div class="col-lg-12">
            {% if albums|length < 1 %}
                <a href="{% url 'create_album' %}"
                   class="btn btn-primary float-right mt-4">Create an album</a>
            {% endif %}
            {% if photos|length < 1 %}
                <a href="{% url 'upload' %}" class="btn btn-primary float-right mt-4">Upload a new photo</a>
            {% endif %}
            {% if albums|length > 0 and photos|length > 0 %}
                <a href="{% url 'create_album' %}"
                   class="btn btn-primary float-right mt-4">Create another album</a>
                <a href="{% url 'upload' %}" class="btn btn-primary float-right mt-4">Upload a new photo</a>
                <a href="/map/1/" class="btn btn-secondary float-right mt-4">Check it on the map</a>
            {% endif %}
        </div>
    </div>
    {% for album in albums %}
    <p>
      <a class="btn btn-outline-primary" 
        data-bs-toggle="collapse" 
        href="#{{ album.id }}" 
        role="button" 
        aria-expanded="true" 
        aria-controls="{{ album.id }}">
        Album: {{ album.title}} ({{ album.photo_set.all|length }})
      </a>
    </p>
    <div class="row collapse show" id={{ album.id }}>
        {% for photo in album.photo_set.all %}
            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                <div class="card shadow-sm">
                    <a data-fancybox="gallery" href="{{ photo.image.url }}">
                        <img src="{{ photo.image.url }}"
                             width="100%"
                             height="150px"
                             alt="{{ photo.title }}"
                             style="object-fit:cover;
                                    padding:3px">
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{ photo.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/map/{{ album.id }}"
                                   type="button"
                                   class="btn btn-sm btn-outline-secondary">
                                    <i class="fa-solid fa-map"></i> View
                                </a>
                                <a href="/{{ photo.id }}/delete/" class="btn btn-sm btn-outline-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
    {% else %}
        <div class="row text-center">
            <div class="col-lg-12">
              <h1>You are not logged in yet.</h1>
              <h3>Use the <strong>Login</strong> button above to get access into the application.</h3>
            </div>
        </div>

    {% endif %}
{% endblock %}
