{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta htt-equip="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Photo Gallery{% endblock %}
        </title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin="" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
              integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <style>
            hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(13, 110, 253, 0), rgba(13, 110, 253, 0.75), rgba(13, 110, 253, 0));
        }
        </style>
    </head>
    <body class="d-flex flex-column h-100" onresize="update_dropdown()">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01"
                        aria-controls="navbarTogglerDemo01"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="{% url 'index' %}">Photo <i class="fa-solid fa-image"></i> Gallery</a>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <form class="d-flex d-inline">
                                <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </form>
                        </ul>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"> </i>  {{ user.username }}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" id="dropDownMenu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'create_album' %}">
                                        <i class="fa-regular fa-images"> </i> 
                                        Create New Album
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'upload' %}">
                                        <i class="fa-regular fa-image"> </i>
                                        Upload New Photo
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/map/1/">
                                        <i class="fa-solid fa-map"></i>
                                        Photo Map
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                
                                <li>
                                    <a class="dropdown-item" href="{% url 'albums' %}">
                                        <i class="fa-solid fa-images"></i>
                                        View Album(s) 
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{% url 'photos' %}">
                                        <i class="fa-solid fa-image"></i>
                                        View Photos(s) 
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'profile' %}">
                                        <i class="fa-solid fa-pen"></i>
                                        Edit Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/map/1/">
                                        <i class="fa-solid fa-key"></i>
                                        Reset Password
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}"><span><i class="fa-solid fa-arrow-right-from-bracket"> </i> Logout</span></a></li>
                            </ul>
                        </div>
                    {% else %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#aboutUsModal">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa-solid fa-question"></i> About Us
                                </a>
                            </li>
                        </ul>
                        <a class="text-decoration-none text-white" href="{% url 'login' %}">
                            <button class="btn btn-secondary mx-2" type="submit">Login</button>
                        </a>
                        <a class="text-decoration-none text-white" href={% url 'register' %}>
                            <button class="btn btn-primary mx-2" type="submit">Register</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% else %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
               role="alert">
            {% endif %}
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="aboutUsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">About Us</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>What is Photo Gallery?</h3>
                        <p>Photo Gallery is a web application that allows you to upload your photos and share them with the world.</p>
                        <h3>Who is it for</h3>
                        <p>Photo Gallery is for everyone who wants to share their photos with the world.</p>
                        <h3>How to use it</h3>
                        <p>Photo Gallery is very easy to use. Just register and start uploading your photos.</p>
                        <h3>How to contact us</h3>
                        <p>You can contact us by sending an email to <a class="text-decoration-none text-white" href="mailto:example@email.com:"
                                                                       class="text-decoration-none">Email</a></p>
                        <h3>How to report a bug</h3>
                        <p>You can report a bug by sending an email to <a class="text-decoration-none text-white" href="mailto:example@email.com:"
                                                                         class="text-decoration-none">Email</a></p>
                        <p>Also, you can report a bug by opening an issue on <a class="text-decoration-none text-white" href="https://github.com/tibix/GALLERY/issues"
                                                                                class="text-decoration-none"><i class="fab fa-github"></i> Gallery</a> repository.</p>
                        <h3>How to contribute</h3>
                        You can bring your contribution by cloning the repository from <a class="text-decoration-none text-white" href="https://github.com/tibix/GALLERY"
                                                                                          class="text-decoration-none"><i class="fab fa-github"></i> Gallery</a> repository, making a PR with the change you want to see and push the PR to review.

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <main class="flex-shrink-0">
            <br>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
            <script>
            Fancybox.bind('[data-fancybox="gallery"]', {
                Thumbs : {
                    showOnStart: true
                }
            });    
            </script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function() {
                    // messages timeout for 10 sec
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                    }, 1000); // <-- time in milliseconds, 1000 =  1 sec
                });
            </script>
            <script>
                function update_dropdown() {
                    console.log(window.innerWidth);
                    if (window.innerWidth > 992) {
                        //change dropdown-menu-end to dropdown-menu-right for dropdown-menu
                        document.getElementById("dropDownMenu").classList.add("dropdown-menu-end");
                        document.getElementById("dropDownMenu").classList.remove("dropdown-menu-right");
                    } else {
                        //change dropdown-menu-right to dropdown-menu-end for dropdown-menu
                        document.getElementById("dropDownMenu").classList.add("dropdown-menu-right");
                        document.getElementById("dropDownMenu").classList.remove("dropdown-menu-end");
                    }
                }
            </script>
        </main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="footer fixed-bottom mt-5 mb-auto py-1 bg-dark text-white">
            <div class="container text-center">
                <span class="text-white ">All rights reserved to Photo <i class="fa-solid fa-image"></i> 
                {% if year == "2023" %}
                Gallery&trade; 2023-{{ year }}</span>
                {% else %}
                Gallery&trade; 2023</span>
                {% endif %}
                <div class="px-5 mt-2">
                    <ul class="text-white fs-2">
                        <li class="list-inline-item text-white">
                            <a class="text-decoration-none text-white" href="https://facebook.com">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-decoration-none text-white" href="https://twitter.com">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-decoration-none text-white" href="https://instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-decoration-none text-white" href="https://linkedin.com">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-decoration-none text-white" href="https://github.com/tibix/GALLERY">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
