{% extends "base.html" %}
{% load static %}
{% block title %}Home :: Photo Gallery{% endblock %}
{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
     <div class="row">
       

            <div class="col">
                <input class="form-control" list="country" placeholder="Filter by Country">
                <datalist id="country">               
                {% for c in countries %}
                    <option value="{{ c.country }}">{{ c.country }}</option>
                {% endfor %}
                </datalist>
            </div>
            <div class="col">
                <input class="form-control" list="city" placeholder="Filter by City">
                <datalist id="city">               
                {% for c in cities %}
                    <option value="{{ c.city }}">{{ c.city }}</option>
                {% endfor %}
                </datalist>
            </div>

            <div class="col">

                <input class="form-control" list="street" placeholder="Filter by Street">
                <datalist id="street">               
                {% for s in streets %}
                    <option value="{{ s.street }}">{{ s.street }}</option>
                {% endfor %}
                </datalist>
            </div>

            <div class="col">
                <input type="submit" class="form-control btn btn-outline-primary" value="Filter">
            </div>
           </div>
 </form>

    <div class="row">
               {% for photo in photos %}
            <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                <div class="card shadow-sm">
                    <a data-fancybox="gallery" href="{{ photo.image.url }}">
                        <img src="{{ photo.thumbnail.url }}"
                             width="100%"
                             height="150px"
                             alt="{{ photo.title }}"
                             style="object-fit:cover;
                                    padding:3px">
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{ photo.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" href="{% url 'album' photo.album_id %}" class="btn btn-sm btn-outline-primary">View</a>
                                <a href="/{{ photo.id }}/delete/" class="btn btn-sm btn-outline-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
